body {
    // max-width: 70vh;
    margin: 0 auto;
}

hr {
    margin: 3px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // max-width: 90vh;
    gap: 10px;
}

.verb {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.input-row {
    margin-top: 3px;
}

.input {
    width: 80px;
    margin: 0 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}